<div class="relative p-0 md:p-20">
    <div class="absolute inset-0 bg-white"></div>

    <!-- Overlay blanco como neblina -->
    <div class="absolute inset-0 bg-gradient-to-b from-white via-white/50 to-transparent"></div>

    <!-- Contenido con z-index superior -->
    <div class="relative z-10 flex flex-col md:flex-row items-center justify-center gap-8 md:py-20">
        <div class="flex flex-col text-start rounded-lg bg-white px-12 py-16 md:w-1/2 max-w-full">
            <h1 class="text-2xl sm:text-5xl font-bold text-[#28A0AE] tracking-tight leading-tight mb-3">Quienes Somos</h1>
            <p class="text-lg text-neutral-800 font-medium leading-relaxed mb-3">
                Espacio de innovación educativa donde docentes, estudiantes y comunidades exploran metodologías participativas para transformar la experiencia de aprendizaje.
            </p>
            <span class="text-lg text-[#FF7F02] font-medium">!Somos una familia!</span>
        </div>
        <div class="hidden md:flex md:w-1/2 justify-center">
            <div
                role="img"
                aria-label="Imagen con efecto de máscara"
                class="mx-auto w-full h-96 bg-cover bg-center"
                [style]="{
                    'background-image': 'url(assets/img/children.jpg)',
                    'mask-image': 'url(assets/img/courses/scribble.png)',
                    '-webkit-mask-image': 'url(assets/img/courses/scribble.png)',
                    'mask-mode': 'luminance',
                    '-webkit-mask-mode': 'luminance',
                    'mask-size': '112%',
                    '-webkit-mask-size': '115%',
                    'mask-repeat': 'no-repeat',
                    '-webkit-mask-repeat': 'no-repeat',
                    'mask-position': 'center',
                    '-webkit-mask-position': 'center'
                }"
            ></div>
        </div>
        <div class="absolute bottom-0 left-1/2 z-10 w-[20%] -translate-x-1/2 p-0.5 bg-gradient-to-r from-[#B7DDE2] via-[#FFDCC2] to-[#D9B3E6]"></div>
    </div>
</div>
