<section class="relative flex items-center justify-center min-h-screen w-full overflow-hidden pt-20">
    <!-- Background separado -->
    <div class="absolute inset-0 brightness-50 grayscale bg-cover bg-center bg-no-repeat" [style]="'background-image: url(assets/img/hero/herochild.jpg); mask-image: linear-gradient(to bottom, black 90%, transparent 100%)'"></div>

    <!-- Contenido con z-index superior -->
    <div class="relative z-10 backdrop-blur-sm text-center rounded-lg p-20">
        <h1 class="mx-auto max-w-4xl text-white font-heading text-5xl font-bold leading-[1.2] tracking-tight text-foreground sm:text-6xl lg:text-7xl">
            Transformando <span class="bg-gradient-to-r from-[#3aebff] to-[#ffa347] bg-clip-text text-5xl md:text-7xl font-extrabold text-transparent">
        vidas
      </span> a través del juego y la <span class="bg-gradient-to-r from-[#3aebff] to-[#ffa347] bg-clip-text text-5xl md:text-7xl font-extrabold text-transparent">
        recreación
      </span>
        </h1>
        <span class="box-decoration-slice bg-linear-to-r from-indigo-600 to-pink-500 px-2 text-white ...">
        </span>
    </div>

</section>
