<div id="gallery" class="py-6 px-6 lg:px-20 mt-8 mx-0 lg:mx-20">
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
        <div class="overflow-hidden rounded-lg shadow-lg">
            <img src="assets/img/img2.jpg" alt="Imagen 1" class="w-full h-auto">
        </div>
        <div class="overflow-hidden rounded-lg shadow-lg">
            <img src="assets/img/img3.jpg" alt="Imagen 1" class="w-full h-auto">
        </div>
        <div class="overflow-hidden rounded-lg shadow-lg">
            <img src="assets/img/img4.jpg" alt="Imagen 1" class="w-full h-auto">
        </div>
        <div class="overflow-hidden rounded-lg shadow-lg">
            <img src="assets/img/img5.jpg" alt="Imagen 1" class="w-full h-auto">
        </div>
        <div class="overflow-hidden rounded-lg shadow-lg">
            <img src="assets/img/img6.jpg" alt="Imagen 1" class="w-full h-auto">
        </div>
        <div class="overflow-hidden rounded-lg shadow-lg">
            <img src="assets/img/logo.jpg" alt="Imagen 1" class="w-full h-auto">
        </div>
        <div class="overflow-hidden rounded-lg shadow-lg">
            <img src="assets/img/img2.jpg" alt="Imagen 1" class="w-full h-auto">
        </div>
        <div class="overflow-hidden rounded-lg shadow-lg">
            <img src="assets/img/img2.jpg" alt="Imagen 1" class="w-full h-auto">
        </div>
    </div>
</div>
