<div class="w-full bg-orange-500/20">
    <div class="flex flex-col md:flex-row items-center justify-center p-10">
        <div class="bg-black w-full h-[45rem] p-20 bg-cover rounded-xl" [style]="'background-image: url(assets/img/team.jpg)'">
        </div>
        <div class="bg-white p-10 rounded-r-xl">
            <h1>Participa con nosotros</h1>
            <p>Forma parte de nuestro equipo y contribuye al desarrollo de soluciones tecnológicas innovadoras.</p>
            <ul class="list-disc list-inside pb-5">
                <li>Colabora en proyectos de investigación</li>
                <li>Accede a recursos y herramientas especializadas</li>
                <li>Participa en eventos y conferencias</li>    
            </ul>
            <div class="flex justify-center">
                <button class="bg-blue-500 text-white px-10 py-5 rounded-lg">
                    Quiero participar
                </button>
            </div>
        </div>
    </div>
</div>