<div class="w-full bg-white pt-10">
    <div class="flex flex-col md:flex-row items-center justify-center">
        <div class="bg-black/45 w-full h-[45rem] bg-cover bg-blend-multiply" [style]="'background-image: url(assets/img/team.jpg)'">
            <div class="flex flex-col items-center justify-center h-full text-white">
                <h1 class="text-2xl sm:text-9xl font-bold text-white tracking-tight leading-tight mb-5">Participa con nosotros</h1>
                <p class="text-xl text-white font-medium leading-relaxed mb-10">Forma parte de nuestro equipo y contribuye al desarrollo de soluciones tecnológicas innovadoras.</p>
                <div class="mb-5">
                    <button (click)="navigateToTeams()" class="group relative inline-flex items-center justify-center text-base rounded-md bg-[#830479] px-8 py-3 font-semibold text-white transition-all duration-200 hover:bg-[#D9B3E6] hover:text-[#830479] hover:border-[#830479] hover:border-2 hover:shadow-lg hover:-translate-y-0.5 hover:shadow-gray-600/30">
                        Conoce más
                    </button>
                </div>
                <div class="w-[50%] p-0.5 bg-gradient-to-r from-[#B7DDE2] via-[#FFDCC2] to-[#D9B3E6]"></div>
                <h1 class="text-lg text-white font-medium leading-relaxed mb-3">Beneficios</h1>
                <div class="flex gap-5 pt-5">
                    <div class="text-base text-white font-mono">
                        <span class="relative inline-flex size-3 rounded-full bg-[#FF7F02]"></span> Informacion ha tu correo
                    </div>
                    <div class="text-base text-white font-mono">
                        <span class="relative inline-flex size-3 rounded-full bg-[#FF7F02]"></span> Cursos y Articulos disponibles
                    </div>
                    <div class="text-base text-white font-mono">
                        <span class="relative inline-flex size-3 rounded-full bg-[#FF7F02]"></span> Eventos y Talleres
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>