    <div
    id="hero"
    class="flex pt-6 px-2 lg:px-20 overflow-hidden animate__animated animate__fadeIn animate__delay-1s"
    style="background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), radial-gradient(77.36% 256.97% at 77.36% 57.52%, rgb(238, 239, 175) 0%, rgb(195, 227, 250) 100%); clip-path: ellipse(150% 87% at 93% 13%)"
    >
    <div class="mx-6 md:mx-20 mt-0 md:mt-6 animate__animated animate__flipInX animate__delay-1s">
        <h1 class="text-6xl font-bold text-gray-900 leading-tight"><span class="font-light block">Laboratorio de</span>Metodologias participativas</h1>
        <p class="font-normal text-2xl leading-normal md:mt-4 text-gray-700">“El lugar en donde las ideas brillan”</p>
        <button pButton pRipple [rounded]="true" type="button" label="Empezar" class="!text-xl mt-8 !px-4 animate-pulse"></button>
    </div>
    <div class="flex justify-center md:justify-end animated__animated animate__slideInUp animate__delay-1s">
        <img src="assets/img/img1.1.png" alt="Hero Image" class="w-9/12 md:w-auto" />
    </div>
    </div>
