<div class="flex flex-wrap justify-center gap-8 px-4">
    <!-- Miembro 1 -->
    <div
        pAnimateOnScroll
        enterClass="animate-enter fade-in-10 slide-in-from-t-20 animate-duration-1000"
        leaveClass="animate-leave fade-out-0 animate-duration-100"
        class="flex flex-col border border-primary-200 shadow-lg justify-center items-center max-w-80 rounded-2xl p-8 gap-4 bg-white dark:bg-surface-900"
    >
        <p-avatar
            image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
            shape="circle"
            size="xlarge"
        />
        <span class="text-2xl font-medium">Cristian Cordoba</span>
        <span class="text-muted-color text-center">Directora de Programas Recreativos con 15 años de experiencia.</span>
    </div>

    <!-- Miembro 2 -->
    <div
        pAnimateOnScroll
        enterClass="animate-enter fade-in-10 slide-in-from-b-20 animate-duration-1000"
        leaveClass="animate-leave fade-out-0 animate-duration-100"
        class="flex flex-col border border-primary-200 shadow-lg justify-center items-center max-w-80 rounded-2xl p-8 gap-4 bg-white dark:bg-surface-900"
    >
        <p-avatar
            image="https://primefaces.org/cdn/primeng/images/demo/avatar/asiyajavayant.png"
            shape="circle"
            size="xlarge"
        />
        <span class="text-2xl font-medium">Mary Quiceno</span>
        <span class="text-muted-color text-center">Coordinadora de Voluntarios y eventos comunitarios.</span>
    </div>

    <!-- Miembro 3 -->
    <div
        pAnimateOnScroll
        enterClass="animate-enter fade-in-10 slide-in-from-t-20 animate-duration-1000"
        leaveClass="animate-leave fade-out-0 animate-duration-100"
        class="flex flex-col border border-primary-200 shadow-lg justify-center items-center max-w-80 rounded-2xl p-8 gap-4 bg-white dark:bg-surface-900"
    >
        <p-avatar
            image="https://primefaces.org/cdn/primeng/images/demo/avatar/onyamalimba.png"
            shape="circle"
            size="xlarge"
        />
        <span class="text-2xl font-medium">Xavier Mason</span>
        <span class="text-muted-color text-center">Especialista en recreación inclusiva y adaptada.</span>
    </div>
</div>

<div class="h-120"></div>
