<div class="p-4">
    <p-table #dt [value]="users" [paginator]="true" [rows]="10" [globalFilterFields]="[
        'id',
        'country',
        'municipality',
        'institution',
        'institution_type',
        'education_zone',
        'grade_year',
        'favorite_subject',
        'favorite_reason',
        'least_favorite_subject',
        'least_favorite_reason',
        'learning_resource',
        'teaching_change'
      ]" currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} usuarios"
        [showCurrentPageReport]="true" [rowsPerPageOptions]="[10, 20, 30]" [tableStyle]="{ 'min-width': '75rem' }">

        <ng-template pTemplate="caption">
            <div class="flex items-center justify-between">
                <h5 class="m-0">Lista de respuestas</h5>
                <p-iconfield>
                    <p-inputicon styleClass="pi pi-search" />
                    <input pInputText type="text" (input)="onGlobalFilter($event)" placeholder="Buscar..." />
                </p-iconfield>
            </div>
        </ng-template>

        <ng-template pTemplate="header">
            <tr>
                <th>ID</th>
                <th>País</th>
                <th>Municipio</th>
                <th>Institución</th>
                <th>Tipo</th>
                <th>Zona Educativa</th>
                <th>Grado</th>
                <th>Favorita</th>
                <th>Motivo</th>
                <th>Menos Favorita</th>
                <th>Motivo</th>
                <th>Recurso</th>
                <th>Cambio Enseñanza</th>
                <th>Creación</th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-user>
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.country }}</td>
                <td>{{ user.municipality }}</td>
                <td>{{ user.institution }}</td>
                <td>{{ user.institution_type }}</td>
                <td>{{ user.education_zone }}</td>
                <td>{{ user.grade_year }}</td>
                <td>{{ user.favorite_subject }}</td>
                <td>{{ user.favorite_reason }}</td>
                <td>{{ user.least_favorite_subject }}</td>
                <td>{{ user.least_favorite_reason }}</td>
                <td>{{ user.learning_resource }}</td>
                <td>{{ user.teaching_change }}</td>
                <td>{{ user.created_at | date:'yyyy-MM-dd HH:mm' }}</td>
            </tr>
        </ng-template>
    </p-table>
</div>